/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(244, 237, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  h2 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}

.right {
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

input {
    padding: .2rem;
    width: 80%;
}
a {
    color: #596D48;
    font-weight: 600;
}

.sign-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

h1 { color: white;}

img {
  height: 10vh;
}

.logo {
  height: auto;
  display: flex;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

button {
    background-color: #596D48;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    border: none;
    font-weight: 600;
    color: white;
    margin: 1rem 2rem;
    max-width: 40%;
}

button:hover {
    background-color: #2d3723;
    cursor: pointer;
}

label {display: block;}

input {
    border: 1px solid #E5E7EB;
}

input:focus {
  border: 3px solid royalblue;
}

.intro {
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 2rem;
}

.sign-up-form {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 10px 5px 5px rgba(59, 57, 57, 0.14);
}

.login {
    padding: 1rem 2rem;
}

fieldset {
    border: none;
}

.intro>p {
    padding-bottom: 1rem;
    max-width: 54ch;
}

.sidebar {
  background-image: url(https://images.unsplash.com/photo-1591848478625-de43268e6fb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
}

.error {
  border: 3px solid crimson;
}

.error-message {
  font-size: .75rem;
  display: block;
  color: crimson;
  padding-top: 2px;
}